{% extends 'cdms/base.html' %}
{% block title %}Appoint a new officer{% endblock %}
{% load my_filters %}
{% block active-thana %}active{% endblock %}
{% block active-thana-list %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        
            <div class="panel panel-default col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <div class="panel-body">
                    <h3 class="text-center"><u>Appoint A New Officer</u></h3><br/>
					
                    <form role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}						
						<div class = "row">
							<div class="form-group col-xs-12 col-lg-12">
								<div class="control-label col-xs-12 col-lg-12"><label for="id_officer">Available officer List</div>
								<div class="col-xs-12 col-lg-12">
									<select class="form-control" id="id_officer" name="officer">
										<option value="" selected="selected">----Select one-----</option>
									{% for officer in officers %}
										<option value="{{ officer.id }}">{{ officer.officer.officer_id }} - {{ officer.get_full_name }} - {{ officer.officer.get_rank_display }}</option>
									{% endfor %}
									</select>
								</div>	
							</div>
						</div>							
						<div class="form-group">
                            <div class="col-xs-12 col-lg-12">
                                <button type="submit" class="btn btn-success">Appoint</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>

</div>
{% endblock %}

